{% extends "IIT_OpenOCR/base.html" %}
{% block content %}

<h2 class="align-middle"><b>Add New User</b></h2>

      <form action="" method="POST">
            {% csrf_token %}
      <div class="row mt-4 col-dm-9">
            <div class="column">
             Name: {{form.name}}
        </div>
        <hr>
        <div class="column">
            Github username: {{form.github_username}}
           </div>
           <hr>
             <div class="column">
            Github Email: {{form.user_email}}
        </div>
      </div>
 
            <hr>
            
            <div class="row mt-4 col-dm-9">
                   <div class="column">
            Role:  {{form.user_role}}
            </div>
            <br><br>
            <hr>
</div>
<input class="btn btn-success" type="submit" value="Add User">       
<a href="/users"><button class="btn btn-danger" type="button" >Cancel</button></a>

</form>

{% endblock content %}

