{% extends "IIT_OpenOCR/base.html" %}
{% block content %}

<nav class="navbar navbar-light bg-light mb-3">


<div class="btn-group mr-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="userStatusFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select User Status
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="?selected=All">All</a>
    <a class="dropdown-item" href="?selected=Idle">Idle</a>
    <a class="dropdown-item" href="?selected=Assigned">Set Assigned</a>
  </div>
</div>

  <form class="form-inline ml-3">
    <input class="form-control" type="search" name="searchBar_assigned" placeholder="Search UserName" aria-label="Search">
    <button class="btn btn-outline-success ml-1" type="submit">Search</button>
  </form>
</nav>


{% for users in users %}


<div class="card mb-2" style="width: 15rem;">
  <div class="card-body">
      <h5 class="card-title text-secondary"><b class="text-dark">Name: </b>{{ users.name }}</h5>
      <p class="card-text text-secondary"><b class="text-dark">UserRole: </b>{{ users.user_role }}</p>
      <p class="card-text text-secondary"><b class="text-dark">GitHub: </b>{{ users.github_username }}</p>
      <p class="card-text text-secondary"><b class="text-dark">Email-ID: </b>{{users.user_email}}</p>
      <span class="badge badge-pill badge-success" style="border-radius:15px;"><b>Idle</b></span>
      <a class="btn btn-success" role="button" href="{{users.github_username}}/">Assign</a>
  </div>
</div>


{% endfor %}
{% endblock content %}