{% extends "IIT_OpenOCR/base.html" %}
{% block content %}
<nav class="navbar navbar-light bg-light mb-3">

    <div class="btn-group mr-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="bookStatusFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Book-Status</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/books/?bookStatus=All">All</a>
            <a class="dropdown-item" href="/books/?bookStatus=Completed">Completed</a>
            <a class="dropdown-item" href="/books/?bookStatus=InProgress">In Progress</a>
            <a class="dropdown-item" href="/books/?bookStatus=Unassigned">Unassigned</a>
        </div>
    </div>

    <form class="form-inline">
        <input class="form-control" type="search" name="searchBar_book" placeholder="Search BookName" aria-label="Search">
        <button class="btn btn-outline-success ml-1" type="submit">Search</button>
    </form>

</nav>

{% for book in books %}
        <article class="media content-section mb-2">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" ><b>BookID: </b>{{ book.book_id }} </a>
                    <small class="text-muted"></small>
                </div>
                <h2><a class="article-content"><b>Book Name: </b>{{ book.book_name }}</a></h2>
                <div class="row">
                <div class="column mr-5 ml-3">
                <p class="article-content"><b>Total Pages: </b>{{ book.book_totalpages }}</p>
                <p class="article-content"><b>Total Sets: </b>{{ book.book_totalsets }} </p>
                <p class="article-content"><b>Completed Sets: </b>{{ book.book_setCompleted }}</p>
                <p class="article-content"><b>Book Status: </b>{{ book.book_status }}</p>
                </div>
                <div class="column">
                    <div class="ml-5" style="display:block; max-height:120px; overflow-y:auto; position: relative;">
                        <table class="table table-bordered  table-hover table-sm mb-0" style="border-collapse: collapse; width: 100%;">
                            <thead class="thead-light">
                            <tr>
                            <th style="position: sticky; top: 0; padding: 8px 16px;">Set Number</th>
                            <th style="position: sticky; top: 0; padding: 8px 16px;">Set-ID</th>
                            <th style="position: sticky; top: 0; padding: 8px 16px;">Set Status</th>
                            <th style="position: sticky; top: 0; padding: 8px 16px;">Version</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                            <td><a href="#">abcd</a></td>
                            <td><a href="#">efgh</a></td>
                            <td><a href="#">adfc</a></td>
                            <td><a href="#">twow</a></td>
                            </tr>

                            <tr>
                            <td><a href="#">abcd</a></td>
                            <td><a href="#">efgh</a></td>
                            <td><a href="#">adfc</a></td>
                            <td><a href="#">twow</a></td>
                            </tr>

                            <tr>
                            <td><a href="#">abcd</a></td>
                            <td><a href="#">efgh</a></td>
                            <td><a href="#">adfc</a></td>
                            <td><a href="#">twow</a></td>
                            </tr>

                            <tr>
                            <td><a href="#">abcd</a></td>
                            <td><a href="#">efgh</a></td>
                            <td><a href="#">adfc</a></td>
                            <td><a href="#">twow</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>


                <div class="progress">
                <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>


             <!--   <p class="article-content"><b>Sets Created: {{ users.user_sets.sets_completed }}</b></p>
                <p class="article-content"><b>Sets Completed:</b> {{ users.user_sets.pages_completed }}</p> -->
            </div>
        </article>
{% endfor %}
{% endblock content %}
