{% extends "IIT_OpenOCR/base.html" %}
{% block content %}
<h2 class="align-middle"><b>Set Details :</b></h2>

      <form action="{% url 'IITB_OpenOCR-saveset' sets.setID %}" method="POST">
      
            {% csrf_token %}
      <div class="row mt-4 col-dm-9">
            <div class="column">
              Set Id : {{sets.setID}}
        </div>
        <hr>
        <div class="column">
        Set Number : {{sets.number}}
           </div>
           <hr>
             <div class="column">
              Set Book ID : {{sets.bookid}}
        </div>
      </div>
        <hr>
           <div class="row mt-4 col-dm-9">
                  <div class="column">
                   Set Corrector : {{sets.setCorrector}}
            </div>
            <hr>
                   <div class="column">
                        Set Verifier : {{sets.setVerifier}}
            </div>
            <hr>
                   <div class="column">
                   Set Version : {{sets.version}}
            </div>
           </div>

            <hr>
            <div class="row mt-4 col-dm-6">
                <div class="column">
                    Set Stage : {{sets.stage}}
             </div>
             <hr>
                   <div class="column">
                   Set Status : {{sets.status}}
            </div>
            <hr>
            <div class="column">
                  Set repository : {{sets.repoistoryName}}
           </div>
        </div>
      <hr>
      <div class="row mt-4 col-dm-6">
           <div class="column">
            Set Project Manager : {{sets.projectmanager}}
     </div>
     <hr>
                   <!-- <div class="column">
        <label><b>Pages :</b></label>
              <input type="text" readonly class="form-control-plaintext" value="From DB" style="background-color: darkgray; text-align: center;"> -->
              <!--Need to be added in db-->
            <!-- </div>
            <hr> -->
                  </div>
                  <div class="column"><hr></div>

             <!--- ###############DATEs########################-->
                <div class="row mt-2"><h4><b><u>Assignment Details:</u></b></h4></div>
                <div class="row mt-4 col-dm-9">
                    <div class="column">
          <label><b>Assignment Date</b></label><div style="background-color: darkgray; text-align: center;">{{sets.vone_assignmentdate}}</div>
              </div>
              <hr>
                     <div class="column">
          <label><b>Deadline</b></label><div style="background-color: darkgray; text-align: center;">{{sets.vone_deadline}}</div>
              </div>
              <hr>
                     <!-- <div class="column">
          <label><b>Submitted Date:</b></label><div style="background-color: darkgray; text-align: center;">{{sets.vone_expsubdate}}</div>
              </div> -->
                    </div>
          
                {% if sets.version == 1 %}
                <div class="row mt-4 col-dm-9">
                  <div class="column">
        <label><b>Assignment Date</b></label><div style="background-color: darkgray; text-align: center;">{{sets.vone_assignmentdate}}</div>
            </div>
            <hr>
                   <div class="column">
        <label><b>Deadline</b></label><div style="background-color: darkgray; text-align: center;">{{sets.vone_deadline}}</div>
            </div>
            <hr>
                   <div class="column">
        <label><b>Submitted Date:</b></label><div style="background-color: darkgray; text-align: center;">{{sets.vone_expsubdate}}</div>
            </div>
                  </div>
        
                  {% elif sets.version == 2 %}
                <div class="row mt-4 col-dm-9">
                  <div class="column">
        <label><b>Assignment Date</b></label><div style="background-color: darkgray; text-align: center;">{{sets.vtwo_assignmentdate}}</div>
            </div>
            <hr>
                   <div class="column">
        <label><b>Deadline</b></label><div style="background-color: darkgray; text-align: center;">{{sets.vtwo_deadline}}</div>
            </div>
            <hr>
                   <div class="column">
        <label><b>Submitted Date:</b></label><div style="background-color: darkgray; text-align: center;">{{sets.vtwo_expsubdate}}</div>
            </div>
            <hr>
                  </div>
        
                  {% elif sets.version == 3 %}
                <div class="row mt-4 col-dm-9">
                  <div class="column">
        <label><b>Assignment Date</b></label><div style="background-color: darkgray; text-align: center;">{{sets.vthree_assignmentdate}}</div>
            </div>
            <hr>
                   <div class="column">
        <label><b>Deadline</b></label><div style="background-color: darkgray; text-align: center;">{{sets.vthree_deadline}}</div>
            </div>
            <hr>
                   <div class="column">
        <label><b>Submitted Date:</b></label><div style="background-color: darkgray; text-align: center;">{{sets.vthree_expsubdate}}</div>
            </div>
                  </div>
                  {% endif %}
                  
                  <div class="column"><hr></div>

            <!--- ###############RATINGs########################-->
            <div class="row mt-2"><h4><b><u>Ratings:</u></b></h4></div>
            <div class="row mt-4 col-dm-9">
                  <div class="column">
        <label><b>Version-1:</b></label><div style="background-color: darkgray; text-align: center;">{{sets.v1_rating}}</div>
            </div>
            <hr>
                   <div class="column">
        <label><b>Version-2:</b></label><div style="background-color: darkgray; text-align: center;">{{sets.v2_rating}}</div>
            </div>
            <hr>
                <div class="column">
        <label><b>Version-3:</b></label><div style="background-color: darkgray; text-align: center;">{{sets.v3_rating}}</div>
            </div>
            <hr>
        
                <!-- <div class="column">
                    <label><b>First Time 5 Rating?:</b></label>
                <div class="btn-group ml-1 mr-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="bookRatinginput" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" >Yes</a>
                    <a class="dropdown-item" >No</a>
                </div>
                </div>
            </div> -->
                  </div>
                  <div class="column"><hr></div>
                  <!-- <br>
                  <br> -->
            <!--############# Corrector Payments############-->
            <!-- <div class="row mt-2"><h4><b><u>Corrector Payment:</u></b></h4></div>
            <div class="row mt-4 col-dm-9">
                  <div class="column">
        <label><b>Rate per Page:</b></label><div style="background-color: darkgray; text-align: center;">From DB</div>
            </div>
            <hr>
                   <div class="column">
        <label><b>Total Amount</b></label><div style="background-color: darkgray; text-align: center;">From DB</div>
            </div>
            <hr>
        
                <div class="column">
                    <label><b>Amount Paid?:</b></label>
                <div class="btn-group ml-1 mr-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="correctorAMTinput" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" >Yes</a>
                    <a class="dropdown-item" >No</a>
                </div>
                </div>
            </div>
                  </div>
                  <div class="column"><hr></div> -->
                  <!-- <br>
                  <br> -->
            <!--############# Verifier Payments############-->
            <!-- <div class="row mt-2"><h4><b><u>Verifier Payment:</u></b></h4></div>
            <div class="row mt-4 col-dm-9">
                  <div class="column">
        <label><b>Rate per Page:</b></label><div style="background-color: darkgray; text-align: center;">From DB</div>
            </div>
            <hr>
                   <div class="column">
        <label><b>Total Amount</b></label><div style="background-color: darkgray; text-align: center;">From DB</div>
            </div>
            <hr>
        
                <div class="column">
                    <label><b>Amount Paid?:</b></label>
                <div class="btn-group ml-1 mr-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="verifierAMTinput" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" >Yes</a>
                    <a class="dropdown-item" >No</a>
                </div>
                </div>
            </div>
                  </div> -->
                  <!-- <div class="column"><hr></div> -->
              
            <!-----##BUTTONS ROW##-->
          
            <div class="row mt-5 col-dm-9">
                <div class="column mr-2">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
                <div class="column mr-2">
                    <a href="{% url 'IITB_OpenOCR-Sets' %}"><button type="button" class="btn btn-warning">Cancel</button></a>
                </div>
             
            </div>
</form>

{% endblock content %}