{% extends "IIT_OpenOCR/base.html" %}
{% block content %}
<div class="btn-group">
  <button class="btn btn-secondary dropdown-toggle mb-3 mr-3" type="button" id="setIDFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Set-ID
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">ID-1</a>
    <a class="dropdown-item" href="#">ID-2</a>
    <a class="dropdown-item" href="#">ID-3</a>
  </div>
</div>

<div class="btn-group">
    <button class="btn btn-secondary dropdown-toggle mb-3 mr-3" type="button" id="bookIDFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Book-ID
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Book ID</a>
    <a class="dropdown-item" href="#">Book ID</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

<div class="btn-group">
    <button class="btn btn-secondary dropdown-toggle mb-3 mr-3" type="button" id="statusFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Status
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Completed</a>
    <a class="dropdown-item" href="#">In-Progress</a>
  </div>
</div>

<div class="btn-group">
    <button class="btn btn-secondary dropdown-toggle mb-3" type="button" id="userRoleFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select UserRole
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Corrector</a>
    <a class="dropdown-item" href="#">Verifier</a>
  </div>
</div>

{% for sets in sets %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2"><b>Version</b> {{ sets.version }} &nbsp; <b>Status</b>:{{sets.status}}</a>
                    <small class="text-muted"></small>
                </div>
                <h2><a class="article-content"><b>SetID:</b>{{ sets.setID }}</a></h2>
                <p class="article-content"><b>SetCorrector:</b>{{ sets.setCorrector.name }}&nbsp;<b>SetVerifier:</b> {{ sets.setVerifier.name }}</p>
                <p class="article-content"><b>Assigned Date</b> {{ sets.assignmentdate }} &nbsp;<b>Deadline</b> {{ sets.deadline }}</p>
                <p class="article-content"></p>
                <p class="article-content"><b>Project Manager:</b> {{ sets.projectmanager }}</p>
            </div>
        </article>
{% endfor %}
{% endblock content %}



