{% extends "IIT_OpenOCR/base.html" %}
{% block content %}
<ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#userDetails">User Details</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#assignedSets">Assigned Sets</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#payments">Payments</a></li>
  </ul>

  <div class="tab-content">
    <div id="userDetails" class="tab-pane fade show active ">
      <h3 class="mt-3 mb-3">User Details</h3>
      <form>
  <div class="form-group row">
    <label for="staticName" class="col-sm-2 col-form-label mb-3"><b>Name:</b></label>
    <div class="col-sm-10">
      <input readonly class="form-control-plaintext" id="staticName" value= {{ clicked.name }}>
    </div>
  </div>
  <div class="form-group row">
    <label for="staticStatus" class="col-sm-2 col-form-label mb-3"><b>User Status:</b></label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticStatus" value="{{ clicked.user_status }}">
    </div>
  </div>
  <div class="form-group row">
    <label for="staticUserRole" class="col-sm-2 col-form-label mb-3"><b>UserRole:</b></label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticUserRole" value="{{ clicked.user_role }}">
    </div>
  </div>
  <div class="form-group row">
    <label for="staticGithub" class="col-sm-2 col-form-label mb-3"><b>Github:</b></label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticGithub" value="{{ clicked.github_username }}">
    </div>
  </div>
        <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label mb-3"><b>Email:</b>{{ users.user_email }}</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ clicked.user_email }}">
    </div>
  </div>
</form>
    </div>
    <div id="assignedSets" class="tab-pane fade">
      <h3>Sets</h3>
      {% for sets in sets %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2"><b>Version</b> {{ sets.version }} &nbsp; <b>Status</b>:{{sets.status}}</a>
                    <small class="text-muted"></small>
                </div>
                <h2><a class="article-content"><b>SetID:</b>{{ sets.setID }}</a></h2>
                <p class="article-content"><b>SetCorrector:</b>{{ sets.setCorrector.name }}&nbsp;<b>SetVerifier:</b> {{ sets.setVerifier.name }}</p>
                <p class="article-content"><b>Assigned Date</b> {{ sets.assignmentdate }} &nbsp;<b>Deadline</b> {{ sets.deadline }}</p>
                <p class="article-content"><b>Book Name:</b>{{sets.bookid.book_name}}</p>
                <p class="article-content"><b>Project Manager:</b> {{ sets.projectmanager }}</p>
            </div>
        </article>
{% endfor %}
    </div>
    <div id="payments" class="tab-pane fade">
      <h3>User Payments</h3>
      <p>make payments page and input userId and show all the payments from database.</p>
    </div>
  </div>
</div>
{% endblock content %}