{% extends "IIT_OpenOCR/base.html" %}
{% block content %}
<div class="btn-group">
    <button class="btn btn-secondary dropdown-toggle mb-3 mr-3" type="button" id="userIDFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select UserID
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">ID-1</a>
    <a class="dropdown-item" href="#">ID-2</a>
  </div>
</div>

<div class="btn-group">
    <button class="btn btn-secondary dropdown-toggle mb-3 mr-3" type="button" id="userRoleFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select UserRole
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Corrector</a>
    <a class="dropdown-item" href="#">Verifier</a>
  </div>
</div>

<div class="btn-group">
    <button class="btn btn-secondary dropdown-toggle mb-3" type="button" id="userStatusFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select User Status
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Idle</a>
    <a class="dropdown-item" href="#">Set Assigned</a>
  </div>
</div>

{% for users in users %}
    {% if users.user_role != 'Project Manager' %}
<div class="card" style="width: 15rem;">
  <div class="card-body">
      <h5 class="card-title"><b>Name:</b>{{ users.name }}</h5>
      <p class="card-text"><b>UserRole:</b>{{ users.user_role }}</p>
      <p class="card-text"><b>GitHub:</b>{{ users.github_username }}</p>
      <p class="card-text"><b>Email-ID:</b>{{users.user_email}}</p>
      {% if users.user_sets.setID != '' %}
      <span class="badge badge-pill badge-warning" style="border-radius:15px;"><b> Assigned</b></span>
      {% else %}
      <span class="badge badge-pill badge-success" style="border-radius:15px;"><b>Idle</b></span>
      {% endif %}
  </div>
</div>
     {% endif %}
{% endfor %}
{% endblock content %}